  body
  {
    color: rgb(239, 121, 121);
    background: rgb(198, 27, 56);
  }
  .heading
  {
    width: 80%;
    font-size: 22px;
  }
  #camera 
  {
    border: 2px dashed rgb(19, 15, 15);
    width: 350px;
    height: 300px; 
  }
  .nameOfObjects, #resultObjectName  , #resultObjectAccuracy
  {
    color: rgb(255, 255, 74);
  }
